@model Book

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThmbnailUrl" alt="Book image" />

        <div class="caption">
            <h4><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Title</a></h4>
        </div>

        <div class="addToCart">
          
                <a asp-controller="BookShoppingCart" asp-action="AddToShoppingCart" asp-route-bookId="@Model.BookId" class="btn btn-outline-info">Låna Bok</a>


        </div>
    </div>
</div>